In [10]:
"""
collect region data in the latest 10 years from china national data. (for 31 provinces)
I am trying to refactor this scripts's spider method, 
focus on: creat a pool to store target urls, and handle request parallelly.
# pool: learn from scrapy design architechure
# gevent / yeild for url parallel handling.
what's done:
    #get datas into dataframe type
"""

"\ncollect region data in the latest 10 years from china national data. (for 31 provinces)\nI am trying to refactor this scripts's spider method, \nfocus on: creat a pool to store target urls, and handle request parallelly.\n# pool: learn from scrapy design architechure\n# gevent / yeild for url parallel handling.\nwhat's done:\n    #get datas into dataframe type\n"

In [11]:
import urllib,urllib2,json
import httplib
addr="http://data.stats.gov.cn"
ndurl = "http://data.stats.gov.cn/english/easyquery.htm"

In [12]:
from pandas import DataFrame, Series
import pandas as pd
%matplotlib inline
from pandas import DataFrame, Series
import seaborn as sns

In [13]:
def check_with_valuecode(valuecode):
    wdcode="zb"  #
    #valuecode="A0101"  #data collection A0501**  LAST12
    dfwds="[{%22wdcode%22%3A%22"+ wdcode +"%22%2C%22valuecode%22%3A%22"+ valuecode + "%22}]"
    data={
        "colcode":"sj",  #more than one year data
        "dbcode":"hgnd", #hgyd-month hgjd-quater
        "m":"QueryData",
        "rowcode":"zb",
        }
    test_url = ndurl+'?'+urllib.urlencode(data)+"&dfwds=%s"%(dfwds)+"&wds=[]"
    #print test_url
    resp = urllib2.urlopen(test_url)
    result = json.loads(resp.read(),strict=False)
    #print result
    #how to parse the data frame
    if result["returncode"] != 200 : 
        print "return code error for:",valuecode
        return False
    codelist=[]
    for _value in result["returndata"]["wdnodes"][0]["nodes"]:
        codelist.append(_value['code'])
    return codelist

In [14]:
def get_reg_df_with_valuecode(valuecode):
    print "INFO:",valuecode
    wdcode="reg"  #
    wds="[{%22wdcode%22%3A%22"+ "zb" +"%22%2C%22valuecode%22%3A%22"+ valuecode + "%22}]"
    dfwds="[]"
    data={
        "colcode":"sj",  #more than one year data
        "dbcode":"fsnd", #hgyd-month hgjd-quater
        "m":"QueryData",
        "rowcode":"reg",
        }
    test_url = ndurl+'?'+urllib.urlencode(data)+"&dfwds=%s"%(dfwds) +"&wds=%s"%wds
    #print test_url
    #return 
    resp = urllib2.urlopen(test_url)
    result = json.loads(resp.read(),strict=False)
    #print result
    #how to parse the data frame
    if result["returncode"] != 200 : 
        print "return code error for:",valuecode
        return []
    
    if not result["returndata"]["datanodes"]: 
        print "Warning: skip data code ",valuecode
        return DataFrame()
    #dataname:
    dataname=result["returndata"]["wdnodes"][0]["nodes"][0]["cname"]
    #get citycode mapping dataframe
    citycode_list=[]
    for _index in result["returndata"]["wdnodes"][1]["nodes"]:
        citycode ={
            "citycode": _index["code"],
            "cityname": _index["cname"],
        }
        citycode_list.append(citycode)
    citycode_df=DataFrame(citycode_list)
    #get data and city mapping
    data_list=[]
    for _data in result["returndata"]["datanodes"]:
        data_value = {
            "citycode":_data["code"].split(".")[2].split("_")[0],
            "data":_data["data"]["data"],
            "year":_data["code"].split(".")[3],
            "datacode":_data["code"].split(".")[1].split("_")[0],
            "dataname":dataname,
        }
        data_list.append(data_value)
    data_df=DataFrame(data_list)    
    
    #merge data
    df=pd.merge(data_df,citycode_df)
    return df

In [15]:
testdf=get_reg_df_with_valuecode("A050401")

INFO: A050401

In [16]:
testdf

,citycode,data,datacode,dataname,year,cityname
0,110000,2102.6465,A050401,Total Investment in Residential Buildings in t...,2014,Beijing
1,110000,2026.7532,A050401,Total Investment in Residential Buildings in t...,2013,Beijing
2,110000,1872.9647,A050401,Total Investment in Residential Buildings in t...,2012,Beijing
3,110000,1942.6368,A050401,Total Investment in Residential Buildings in t...,2011,Beijing
4,110000,1662.2000,A050401,Total Investment in Residential Buildings in t...,2010,Beijing
5,110000,1034.6785,A050401,Total Investment in Residential Buildings in t...,2009,Beijing
6,110000,1028.2178,A050401,Total Investment in Residential Buildings in t...,2008,Beijing
7,110000,1091.3903,A050401,Total Investment in Residential Buildings in t...,2007,Beijing
8,110000,951.3017,A050401,Total Investment in Residential Buildings in t...,2006,Beijing
9,110000,877.8951,A050401,Total Investment in Residential Buildings in t...,2005,Beijing
10,120000,1292.8878,A050401,Total Investment in Residential Buildings in t...,2014,Tianjin
11,120000,1262.4704,A050401,Total Investment in Residential Buildings in t...,2013,Tianjin
12,120000,1082.4134,A050401,Total Investment in Residential Buildings in t...,2012,Tianjin
13,120000,910.7189,A050401,Total Investment in Residential Buildings in t...,2011,Tianjin
14,120000,700.5000,A050401,Total Investment in Residential Buildings in t...,2010,Tianjin
15,120000,576.8510,A050401,Total Investment in Residential Buildings in t...,2009,Tianjin
16,120000,510.1959,A050401,Total Investment in Residential Buildings in t...,2008,Tianjin
17,120000,373.5963,A050401,Total Investment in Residential Buildings in t...,2007,Tianjin
18,120000,334.0949,A050401,Total Investment in Residential Buildings in t...,2006,Tianjin
19,120000,272.9521,A050401,Total Investment in Residential Buildings in t...,2005,Tianjin
20,130000,3648.8022,A050401,Total Investment in Residential Buildings in t...,2014,Hebei
21,130000,3231.3440,A050401,Total Investment in Residential Buildings in t...,2013,Hebei
22,130000,3073.5817,A050401,Total Investment in Residential Buildings in t...,2012,Hebei
23,130000,3141.4993,A050401,Total Investment in Residential Buildings in t...,2011,Hebei
24,130000,2614.8000,A050401,Total Investment in Residential Buildings in t...,2010,Hebei
25,130000,1800.5682,A050401,Total Investment in Residential Buildings in t...,2009,Hebei
26,130000,1359.6826,A050401,Total Investment in Residential Buildings in t...,2008,Hebei
27,130000,998.9836,A050401,Total Investment in Residential Buildings in t...,2007,Hebei
28,130000,781.1656,A050401,Total Investment in Residential Buildings in t...,2006,Hebei
29,130000,607.5810,A050401,Total Investment in Residential Buildings in t...,2005,Hebei
...,...,...,...,...,...,...
280,630000,331.0324,A050401,Total Investment in Residential Buildings in t...,2014,Qinghai
281,630000,295.7297,A050401,Total Investment in Residential Buildings in t...,2013,Qinghai
282,630000,316.3069,A050401,Total Investment in Residential Buildings in t...,2012,Qinghai
283,630000,306.3711,A050401,Total Investment in Residential Buildings in t...,2011,Qinghai
284,630000,177.9000,A050401,Total Investment in Residential Buildings in t...,2010,Qinghai
285,630000,100.2678,A050401,Total Investment in Residential Buildings in t...,2009,Qinghai
286,630000,65.3222,A050401,Total Investment in Residential Buildings in t...,2008,Qinghai
287,630000,50.3319,A050401,Total Investment in Residential Buildings in t...,2007,Qinghai
288,630000,40.5830,A050401,Total Investment in Residential Buildings in t...,2006,Qinghai
289,630000,27.8488,A050401,Total Investment in Residential Buildings in t...,2005,Qinghai
290,640000,526.7259,A050401,Total Investment in Residential Buildings in t...,2014,Ningxia
291,640000,461.4424,A050401,Total Investment in Residential Buildings in t...,2013,Ningxia
292,640000,360.7590,A050401,Total Investment in Residential Buildings in t...,2012,Ningxia
293,640000,305.2217,A050401,Total Investment in Residential Buildings in t...,2011,Ningxia
294,640000,238.8000,A050401,Total Investment in Residential Buildings in t...,2010,Ningxia
295,640000,162.2594,A050401,Total Investment in Residential Buildings in t...,2009,Ningxia
296,640000,127.3016,A050401,Total Investment in Residential Buildings in t...,2008,Ningxia
297,640000,90.7829,A050401,Total Investment in Residential Buildings in t...,2007,Ningxia
298,640000,78.1469,A050401,Total Investment in Residential Buildings in t...,2006,Ningxia
299,640000,63.6306,A050401,Total Investment in Residential Buildings in t...,2005,Ningxia
300,650000,1368.8748,A050401,Total Investment in Residential Buildings in t...,2014,Xinjiang
301,650000,1354.5412,A050401,Total Investment in Residential Buildings in t...,2013,Xinjiang
302,650000,1130.9164,A050401,Total Investment in Residential Buildings in t...,2012,Xinjiang
303,650000,886.9194,A050401,Total Investment in Residential Buildings in t...,2011,Xinjiang
304,650000,561.3000,A050401,Total Investment in Residential Buildings in t...,2010,Xinjiang
305,650000,376.8043,A050401,Total Investment in Residential Buildings in t...,2009,Xinjiang
306,650000,349.5687,A050401,Total Investment in Residential Buildings in t...,2008,Xinjiang
307,650000,285.1187,A050401,Total Investment in Residential Buildings in t...,2007,Xinjiang
308,650000,234.4037,A050401,Total Investment in Residential Buildings in t...,2006,Xinjiang
309,650000,166.2802,A050401,Total Investment in Residential Buildings in t...,2005,Xinjiang

In [17]:
testdf.to_csv(path_or_buf="./reg_10year.csv",encoding="utf-8")